<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702862956322-513ivp202seacs5acv14rp32ctgdh5hs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702862956322-513ivp202seacs5acv14rp32ctgdh5hs</string>
	<key>API_KEY</key>
	<string>AIzaSyCQr_yNL8Vdfwb6K39cidwkouOtL2VFsBA</string>
	<key>GCM_SENDER_ID</key>
	<string>702862956322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instacloneFlutterfirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclone-flutter-7a755</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-flutter-7a755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702862956322:ios:fe65f4929507473929777b</string>
</dict>
</plist>